#twofactor_yubikey input {
    width: 25em;
}

#twofactor_yubikey label span {
    display: inline-block;
    min-width: 150px;
    padding: 8px 0px;
}

div#twofactor_yubikey_settings_msg {
    margin-left: 10px;
}

#yubikey-devices tr td {
	vertical-align: top;
	
}
#yubikey-devices tr #yubikeys
{
	padding-left:10px;
}

.
.yubikey-device .icon-delete {
	display: inline-block;
	width: 10px;
	height: 10px;
	padding-left: 20px;
	padding-top: 20px;
	vertical-align: top;
	opacity: .7;
}


/** icons for personal page settings **/
.nav-icon-yubikey-configuration, .icon-yubikey-device {
	background-image: url('../img/app-dark.svg?v=1');
}

.icon-yubikey-device {
	display: inline-block;
	background-size: 100%;
	padding: 3px;
	margin: 3px;
}

.yubikey-device .icon-delete {
	display: inline-block;
	width: 10px;
	height: 10px;
	padding-left: 20px;
	padding-top: 20px;
	vertical-align: middle;
	opacity: .7;
}

.twofactor_yubikey-loading-spinner {
  width: 30px;
  padding-left: 25px;
	padding-top: 2px;
	vertical-align: middle;
}

#twofactor_yubikey-table td {
	border-top-color: rgb(221, 221, 221);
	border-top-style: solid;
	border-top-width: 1px;
}

#twofactor_yubikey-table td.yubikey-name {
	width: 150px;
}

#twofactor_yubikey-table td.yubikey-name {
	width: 200px;
}
